#div1{
    overflow-x:hidden;
/*    overflow-y:auto;*/
    height: 305px;
    width: 1100px;
}

#div1 table{
    width: 1100px;
}

#div1 table tbody{
    width: 1100px;
    overflow-y:auto;
}

#div2{
    overflow-x:hidden;
    overflow-y:auto;
    height: 305px;
    width: 800px;
}

#div2 table{
    width: 800px;
}