<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="icon"   href="/images/icono.jpg" type="image/png"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <meta charset="UTF-8"/>
        <style>          
            body::after {
              content: "";
              background: url(/images/fondo.jpg);
              opacity: 0.6;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              position: absolute;
              z-index: -1;   
            }
        </style>
    </head>
    <body style="overflow-x:auto;">
        <nav class="navbar navbar-expand-lg navbar-info bg-dark">
            <a class="navbar-brand text-capitalize bg-white text-dark rounded-pill px-2 py-1" th:href="@{/}"><strong>razonar</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Listados
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-primary" th:href="@{/alumnos/listar}">Alumnos</a>
                            <a class="dropdown-item text-primary" th:href="@{/profesores/listar}">Profesores</a>
                            <a class="dropdown-item text-primary" th:href="@{/asignaturas/listar}">Asignaturas</a>
                            <a class="dropdown-item text-primary" th:href="@{/sesiones/listar}">Sesiones</a>
                        </div>
                    </li>
                </ul>
                <!--                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>-->
            </div>
        </nav>
        <br></br>
        <h1 class="text-dark text-uppercase text-center font-weight-bold font-italic Italica" th:text="${titulo}"></h1>
        <div class="container" id="div2">
            <table class="table table-striped table-hover table-condensed  text-center" style="background-image: url(/images/grad.gif); background-repeat: no-repeat; background-size: cover; opacity: 0.8;overflow-x:auto;">
                <thead class="thead-dark">
                    <tr>
                        <th>Codigo</th>
                        <th>Asignatura</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="asignatura: ${asignaturas}">
                        <td th:text="${asignatura.codAsinatura}"></td>
                        <td th:text="${asignatura.descripcion}"></td>
                        <td><a class="btn btn-success btn-xs" th:href="@{/asignaturas/add/} + ${asignatura.codAsinatura}" th:text="'Editar'"></a></td>
                        <td><a class="btn btn-danger btn-xs" th:href="@{/asignaturas/delete/} + ${asignatura.codAsinatura}" th:text="'Eliminar'"></a></td>                    
                    </tr>
                </tbody>
            </table>
        </div>
        <br></br>
        <table class="text-center container">
            <tbody>
                <tr>
                    <td>
                        <a th:href="@{/asignaturas/add}" class="btn btn-dark btn-lg active" role="button" aria-pressed="true"><b>Agregar Asignatura</b></a>                           
                    </td>
                </tr>
            </tbody>
        </table>
        <br></br>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <table style="margin: 0 auto;">
                    <thead class="thead-dark text-primary">
                        <tr>
                            <th>Contactos</th>
                        </tr>
                    </thead>
                    <tbody class="text-primary">
                        <tr>
                            <td>Cel: 0981 583469</td>
                        </tr>
                        <tr>
                            <td>Tel: 021 945 684</td>
                        </tr>
                        <tr>
                            <td>email: razonarpy@razonar.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nav>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>